/* styles page, used by all HTML pages
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*both header and footer have same colour-scheme and background image*/
header, footer {
  color:white;
  background-color: rgb(82, 0, 105);
  
  /*sets repeating background image*/
  background-image: url("images/magic wave purple.png");
  background-size: 30px;
  background-position: center;
}

header {
  grid-row: 1;
  padding: 0px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; 
}

footer {
  padding: 0px 0px;
  grid-row: 4;

  min-height: fit-content;
  height: 90px;
  max-width: 100%;
}

header h1 {
  font-size: 60px; 
  margin: 0; 
  color: 
  white; 
  float:right;
  
}

footer ul{
  display: inline-block;
  margin: 0px;
}

footer ul li{
  display: inline;
  list-style-type: none;
}

footer a{
  color: white;
  font-size: 80%;
  padding-right: 10px;
}

footer p{
  padding-top: 0%;
  margin: 0%;
}

footer div{
  width: 33%;
  text-align: left;
  float: right;
  height: fit-content;
}

#projectlinks{
  width: 22.5%
}

#Acknowledgement{
  width: 45%;
}

footer h3{
  padding: 0%;
  margin-bottom: 5px;
  margin-top: 15px;
}



main {
  grid-row: 2;
  background-color: white;
  min-height: 80vh;
  margin: 0px 50px;
  padding: 0 0%;
}



body {
    margin: 0px;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(32, 0, 40);

    background-image: url("images/magic wave purple.png");
    background-size: 30px;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
}


/* For sections in the index page */

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin: 0px;
}

nav a {
  text-decoration: underline;
  padding:0.6em 0.6em;
  margin: 00px 0px;
  line-height: 2em;
}

#logo{
  width: 100px;
  padding: 10px;
}

caption {font-size: large;}

th {
        background-color: hsl(281, 100%, 70%);
        color: white;
        font-size: large;
        border: 4px solid black;
        padding: 20px;
        font-size: larger;
}

    td {
        padding: 20px;
        font-size: larger;
        border: 4px solid black;
        padding: 20px;
        font-size: larger;
}

/* #search_button{
  background-color: white;
  border: lightgray 2px solid;
  border-radius: 5px;
} */

nav a:hover {
  background-color: white;
  color:rgb(82, 0, 105);
}

ul {font-size: large;}

nav a{
  color: white;
  border-radius: 10px;
}

nav .current{
  border: white 2px solid;
}

nav .current:hover {
  background-color: hsl(281, 100%, 70%);
  color: white;
}

/*
What was this for?
aside:hover {display: none}*/

/* I thought it would make it look more interesting but it was probably useless */

img[src*="Images/thing.png"]
{
  border: 2px solid black;
}



/*  APPLY PAGE SPECIFIC CSS */

fieldset {
  text-align: center;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
    align-self: center;
  border: 2px solid rgb(82, 0, 105);
  min-height: fit-content;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2.5%;
}

/*Used this to figure this out
https://www.w3schools.com/CSS/tryit.asp?filename=trycss_sel_attribute_value */
input[type=checkbox]{
  margin-right: 3%;
  margin-left: 0%;
}

#formDiv {
  display: flex;
  justify-content: center;
  font-size: 150%;
  z-index: 1;
  background-image: url("images/MagicWaveSeeThrough.png");
  background-size: 25px;
  background-color: rgb(255, 255, 255, 0.5);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  
  width: 100%;
}

#FieldsetsFloatedRight{
  float: left;
  width: 50%;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding-bottom: 1.5%;
}
#FieldsetsFloatedRight fieldset{
  width: 80%;
  margin-right: 5%;
  margin-left: 2.5%;
}

#FieldsetsFloatedLeft{
  float: left;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
}

#FieldsetsFloatedLeft fieldset{
  width: 80%;
  margin-right: 2.5%;
  margin-left: 5%;
}

#formBorder{
  box-shadow: 10px 7.5px 10px #ccc;
  background-color: white;
  border: 5px solid rgb(82, 0, 105);
  border-radius: 10px;
  padding-bottom: 10px;
  z-index: 2;
  width: 60vw;
  min-width: fit-content;
}

#JobReferenceNumberFieldset{
  height: 4.4em;
  padding-bottom: 0em;
  padding-bottom: 2.5%;
}

#GenderFieldset {
  margin-right: 0%;
  margin-top: 0%;
  padding-bottom: 1.125%;
  padding-top: 0%;
  height: 3.5em;
}

#PersonalInfoFieldset {
  margin-left: 0%;
  height: 8.6em;
  padding-bottom: 3.625%;
}

#AddressFieldset {
  margin-left: 0%;
  margin-top: 0%;
  height: 8em;
  min-height: 250px;
}

#ContactInfoFieldset {
  margin-right: 0%;
  margin-top: 0%;
  height: 8em;
  min-height: 250px;
}

#SkillFieldset {
  clear: both;
  width: 83.75%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}

input,select{
  margin-bottom: 2.5%;
}

.button {
  height: 50px;
  width: 20%;
  min-width: fit-content;
  font-size: 150%;
  text-align: center;
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: hsl(281, 100%, 70%);
  color: white;
  border: 3px solid rgb(82, 0, 105);
  height: fit-content;
  border-radius: 10px;
}

/*  APPLY PAGE SPECIFIC CSS END */

/* JOB PAGE SPECIFIC CSS*/

/*creates the little 'closing soon' formatting*/
aside {
  float: right;
  padding: 5px;
  margin: 5px;
  width: 25%;
  border: 2px red dashed;
  background-color: rgb(255, 235, 238);
  border-radius: 10px;
  text-align: center;
}

/*styling for box containing all jobs*/
#jobs {
  margin: 0px 0px;
  min-height: 200px;
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  border: rgb(235, 235, 235) 2px solid;
  background-color: white;
  border-radius: 10px;
}

/*default styling for an individual job box*/
.job {
  width:400px;
  height: fit-content;
  border: rgb(82, 0, 105) 2px solid;
  background-color: white;
  margin: 20px 20px;
  margin-inline: 5px;
  display: grid;
}

/*puts jobs with an aside (more important) to be placed first*/
.job:has(aside) {
  order:-1;
}

/*reveals full job description on hover*/
.job:hover {
  border: black 2px solid;
}

/*styling for the header portion (shows job title)*/
.job .job_header {
  display: flex;
  margin: 0px 0px;
  justify-content:space-between;
  background-color: hsl(281, 100%, 70%);
}

/*styling for the name, (different from the job's reference number)*/
.job .job_header .job_name{
  margin: 0px 0px;
  padding: 5px 5px;
}

/*styling for reference number, (different from the job's name)*/
.job .job_header .job_id{
  margin: 0px 0px;
  padding: 3px 3px;
  color: white;
  font-family: 'Andale Mono', Courier, monospace;
}

/*styling for the content portion (description) of the job*/
.job .job_content{
  padding: 5px 5px;
  margin: 0px 0px;
  background-color: white;
  overflow: hidden;

  max-height: 50px;
}

/*styling for the elipsis shown when not expanded*/
.job .job_elipsis{
  padding: 0px 0px;
  margin: 0px 0px;
  height: 20px;
  background-color: white;
  /* background-color: black; */
}

/*uses overflow clip if allowed by browser (some don't have it)*/
@supports (overflow:clip) {
  .job .job_content{
    overflow: clip;

    overflow-clip-margin: 20px;
  }

  .job .job_elipsis{
    background-image: url("images/white-gradient.png");
    background-repeat: repeat-x;
    background-color: rgba(0,0,0,0);
    background-size: 20px;
  }
}

/*allows the job content to expand to the full height when hovered over*/
.job:hover .job_content{
  padding: 5px 5px;
  margin: 0px 0px;
  background-color: white;
  max-height: none;
}

/*gives the h3 in the elipsis some margin and removes its padding*/
.job .job_elipsis h3{
  padding: 0px 0px;
  margin: 0px 5px;
}

/*hides the elipsis when expanded*/
.job:hover .job_elipsis{
  display: none;
}

/*removes padding and margin from text in the content*/
.job .job_content p{
  padding: 0px 0px;
  margin: 0px 0px;
}
/*adds extra padding to the unordered lists, (or else it looks broken)*/
.job .job_content ul{
  padding: 0px 20px;
  margin: 0px 0px;
}
/*JOB PAGE SPECIFIC CSS END*/

/*dynamic page CSS, removing side bars if it gets too small*/
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .job {
    width: auto;
    max-width: 400px;
  }

  main{
    margin: 0;
  }
}

/* ABOUT PAGE CSS */
main {padding: 1%;}

        dl{} 

        dt{font-size: large;}

        dt:hover
        {color: rgb(82, 0, 105)}