*{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    padding: 5px 5px; 
    display: inline; 
    align-items: center; 
    text-align: center; 
    display: flex;
    background-image: url("../images/magic wave purple.png");
    color:white;
    background-size: 30px;
    background-position: center;
    
    /*background-attachment:fixed;*/
    background-color: rgb(82, 0, 105);
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 100%;
}

header {
    grid-row: 1;
    padding: 0px 10px;
}
footer {
    grid-row: 4;
    padding: 30px 30px;
    height: 20px;
    
}

/* For buttons in the apply page */
.button {
    height: 50px; 
    width: fit-content;
    font-size: 150%;
    text-align: center;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* For sections in the index page */
nav a {
          text-decoration: underline;
          padding:0.6em 0.6em;
         }   

nav a:hover {
  background-color: lightgray
}
nav b:hover {
  background-color: lightgray
}
nav c:hover {
  background-color: lightgray
}
nav d:hover {
  background-color: lightgray
}

th, td {
  padding: 20px;
  font-size: larger;
  border: 4px solid powderblue
}

ul {font-size: large;}

aside:hover {display: none}

img[src*="Images/thing.png"] 
{
  border: 2px solid black;
}